<nav class="navbar navbar-transparent navbar-absolute">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Dashboard</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">dashboard</i>
						<p class="hidden-lg hidden-md">Dashboard</p>
					</a>
				</li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<i class="material-icons">notifications</i>
						<span class="notification" 
						ng-show="dashboard.notifications.length">
							{{ dashboard.notifications.length }}
						</span>
						<p class="hidden-lg hidden-md">Notifications</p>
					</a>
					<ul class="dropdown-menu" ng-show="dashboard.notifications.length > 0">
						<li ng-repeat="notification in dashboard.notifications" >
							<a href="#">{{ notification.body }}</a>
						</li>
					</ul>
					<ul class="dropdown-menu" ng-hide="dashboard.notifications.length">
						<li>You have no notifications.</li>
					</ul>
				</li>
				<li>
					<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
						   <i class="material-icons">person</i>
						   <p class="hidden-lg hidden-md">Profile</p>
						</a>
				</li>
			</ul>
			
			<!-- <div ui-view="search"></div> -->
			<div ng-include="'templates/search/algolia-autocomplete.html'" ng-controller="SearchController as search"></div>
		
		</div>
	</div>
</nav>